/* reference: http://www.savewalterwhite.com/ */

html, body {
    background: #1ba11a url(../images/background.png) top left repeat;
	font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: larger;
    text-align: center;
}

img:hover {
    transition: transform 50s ease;
    transform: rotate(360deg);
    /* 
    for fun
    https://www.geeksforgeeks.org/how-to-rotate-an-image-on-hover-in-css/ 
    */
}

.content {
    display: flex;
    margin: 5%;
}

.content-left {
    background-color: black;
}

.content-right {
    background-color: white;
}

.content-left, .content-right {
    margin: 1%;
    padding: 2%;
}

h1 {
    font-family: times, helvetic, sans-serif;
    color: azure;
    font-size: 65px;
}

p, .list {
    color: #fff54f;
    text-align: justify;
}

.list {
    text-align: left;
}

img {
    width: 450px;
}
