/* reference: http://www.savewalterwhite.com/ */

html, body {
    background: #1ba11a url(../images/background.png) top left repeat;
	font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: larger;
    text-align: center;
}

/* for fun
https://www.geeksforgeeks.org/how-to-rotate-an-image-on-hover-in-css/  */
img:hover {
    transition: transform 50s ease;
    transform: rotate(360deg); 
}

/* BIG */

.content {
    display: flex;
    margin: 5%;
}

.content-left {
    background-color: rgba(33, 252, 10, 0.42);
}

.content-left ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.content-right {
    background-color: rgba(237, 238, 89, 0.42);
}

.content-left, .content-right {
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
}

.header {
    background-color: rgba(237, 238, 89, 0.84);
    padding: 0.5cap;
    border-radius: 10px;
}

.header ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

.header ul li {
    margin-right: 2%;
}

div.container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: black;
}

div.container div.block {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    background-color: white;
}



/* TEXT */

h1.main {
    font-family: times, helvetic, sans-serif;
    color: azure;
    font-size: 65px;
}

p, .list {
    color: #fff54f;
    text-align: justify;
}

.list {
    text-align: left;
}

/* IMG */

img {
    width: 450px;
    border-radius: 10px;
}
